<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem name="menu-project"
    title="Project Data" icon="fa-tasks" icon-background="violet"/>

    <menuitem name="menu-project-freind"
    parent="menu-project"
    title="All project"
    action="project.all"/>

   <action-view name="project.all" title="projects"
   model="com.axelor.project.db.Project">
   <view type="grid" name="project-grid"/>
   <view type="form" name="project-form"/>
   </action-view>

   <menuitem name="menu-task-freind"
    parent="menu-project"
    title="All Task"
    action="task.all"/>

    <menuitem name="menu-task-calendar"
    parent="menu-project"
    title="All Task calendar(user)"
    action="calendar.all"/>

    <menuitem name="menu-project-employee"
    parent="menu-project"
    title="All employee"
    action="project.employee.all"/>

    <action-view name="project.employee.all" title="Employees"
     model="com.axelor.project.db.ProjectEmployee">
     <view type="grid" name="project-employee-grid"/>
     <view type="form" name="project-employee-form"/>
    </action-view>

   <action-view name="task.all" title="Tasks"
   model="com.axelor.project.db.ProjectTask">
   <view type="grid" name="project-task-grid"/>
   <view type="form" name="project-task-form"/>
   <view type="calendar" name="project-task-calendar-my"/>
   </action-view>

   <action-view name="calendar.all" title="Tasks"
   model="com.axelor.project.db.ProjectTask">
   <view type="calendar" name="project-task-calendar-my"/>
    <domain>self.user = :currentUser</domain>
    <context name="currentUser" expr="eval: __user__"/>
    </action-view>

    <menuitem name="menu-task-kanban"
    parent="menu-project"
    title="All Task(kanban)"
    action="task.kanban.all"/>

    <action-view name="task.kanban.all" title="Tasks"
     model="com.axelor.project.db.ProjectTask">
     <view type="kanban" name="project-task-kanban"/>
    <view type="form" name="project-task-form"/>
    </action-view>
</object-views>
